.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }

  @font-face {
    font-family: mainFont;
    src: url('font/VAG-Rounded-Black-SSi-Bold.woff');
  }

  body {
    font-family: 'mainFont';
    margin: 0px;
}

#projects{
    
    background-color: white;
    margin:auto;
    margin-top:20px;
    width:80%;
    border-radius: 30px;
    padding:20px;
    height:80vh;
}

a {
    font-family: Arial, bold;
}

h{
    font-size: 36px;
 }   /* styles here */

@media (max-width: 850px)
{
    h{
        font-size: 20px;
    }   /* styles here */
    body{
        font-size: 30px;
    }
    a{ 
        font-size: 30px;
    }
}