.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }

  @font-face {
    font-family: mainFont;
    src: url('font/VAG-Rounded-Black-SSi-Bold.woff');
  }

  body {
    font-family: 'mainFont';
    margin: 0px;
}

#leftpanel{
    height:100vh;
    background-image: url("images/learn.jpg");
    width:50%;
    float:left;
    border-right-style: solid;
    border-right-color: #4c7db9;
    border-right-width: 5px;
}

#rightpanel{
    background-color: white;
    width:49%;
    float:left;
    margin-right:-5px;
}

a {
    font-family: Arial, bold;
}

a:link { 
  text-decoration: none; 
} 
a:visited { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: none; 
} 
a:active { 
  text-decoration: none; 
}

h{
    font-size: 36px;
 }   /* styles here */

 .item{
    display: inline-block;
    height:300px;
    width:300px;
    padding:10px;
    opacity: 1;
    float:left;
 }
 .item :hover{
   opacity: 0.5;
 }
 .inneritem{
    box-sizing: border-box;
    height: 100%;
    width:100%;
    background-color:white;
    border-radius: 0px;
    border:5px solid #4c7db9;
 }

 .mylink{ 
  z-index: 1;
  display: inline-block;
  padding-top:110px;
  padding-bottom:140px;
  padding-left:10px;
  padding-right:10px;
  width:270px;
  text-align:center;
}   

 p{
    margin:0;
    padding:10px;
    font-family: arial;
    font-weight: bold;
    text-align: center;
    color: #aaaaaa;
 }

